{% extends "baseAdministracion.html" %}
{% block titulo %} Administracion | Indie Prints{% endblock %}
{% block contenedor %}
<section class="section">
    <div class="container">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="subtitle"><strong>Lista de Materiales: {{cantidad_materiales}}</strong></h1>
            <a class="button is-primary" href="/agregarmaterial/"><strong>Agregar Material</strong></a>
        </div>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
            </thead>
            {% for material in materiales %}
            <tbody>
            <tr>
                <td>{{ material.nombreMaterial }}</td>
                <td style="text-align: right; width: 1%; white-space: nowrap;">
                    <a class="button is-small is-link is-outlined" href="/editarmaterial/{{material.id}}"><strong>Editar</strong></a>
                    <a class="button is-small is-danger is-outlined" href="/eliminarmaterial/{{material.id}}"><strong>Eliminar</strong></a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <a class="button is-small is-fullwidth is-link is-outlined" href="/administrar"><strong>VOLVER</strong></a>
</section>
{% endblock %}