<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Pago</title>
</head>
<body>
    <form>
        <h2>Formulario de Pago</h2>
        <div class="container">
            <label for="dni"><b>DNI</b></label>
            <input type="text" placeholder="Ingrese su DNI" name="dni" required>

            <label for="nombre"><b>Nombre</b></label>
            <input type="text" placeholder="Ingrese su Nombre" name="nombre" required>

            <label for="apellidopaterno"><b>Apellido Paterno</b></label>
            <input type="text" placeholder="Ingrese su Apellido Paterno" name="apellidopaterno" required>

            <label for="apellidomaterno"><b>Apellido Materno</b></label>
            <input type="text" placeholder="Ingrese su Apellido Materno" name="apellidomaterno" required>

            <label for="direccion"><b>Dirección</b></label>
            <input type="text" placeholder="Ingrese su Dirección" name="direccion" required>

            <label for="telefono"><b>Teléfono</b></label>
            <input type="text" placeholder="Ingrese su Teléfono" name="telefono" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Ingrese su Email" name="email" required>

            <label for="total"><b>Total</b></label>
            <input type="text" placeholder="Ingrese el Total" name="total" required>

            <button type="submit">Terminar Pedido</button>
        </div>
    </form>
</body>
</html>