{% extends "base.html" %}
{% block titulo %} Productos | Indie Prints{% endblock %}
{% block contenedor %}
<article class="media" style="align-items: flex-start;">
    <figure class="media-left">
        <p class="image is-128x128">
            <img alt="Imagen de {{ producto.name }}" src="{{ producto.image.url }}">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <h1><strong>{{producto.name}}</strong></h1>
            <h6><strong>Talla:</strong> {{producto.talla}} | <strong>Precio:</strong> S/. {{producto.price}}</h6>
            {% if producto.stock == 0 %}
                <h5 style="color: red">Stock: Agotado.</h5>
            {% else %}
                <h5>Stock: {{producto.stock}} unidades.</h5>
            {% endif %}
        </div>
        <div class="buttons">
            <a class="button is-succes" href="{% url 'cart_add' producto.id %}">Añadir al carrito<a/>
        </div>
    </div>
    <div class="media-right">
        <a href="/catalogo" class="delete"></a>
    </div>
</article>
{% endblock %}