{% extends "base.html" %}
{% block titulo %} Productos | Indie Prints{% endblock %}
{% block contenedor %}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{{ producto.imagen.url }}" alt="Imagen de {{ producto.nombre }}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p><strong>{{producto.nombre}}</strong></p>
      <p>Color: {{producto.color}}</p>
      <p>Talla: {{producto.talla}}</p>
      <p>Categoria: {{producto.categoria}}</p>
      <p>Precio: S/. {{producto.precio}}</p>
      <p>Quedan: {{producto.stock}} unidades.</p>
    </div>
    <div></div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
{% endblock %}