{% extends "base.html" %}
{% block titulo %} Productos | Indie Prints{% endblock %}
{% block contenedor %}
<article class="media" style="align-items: flex-start;">
    <figure class="media-left">
        <p class="image is-128x128">
            <img alt="Imagen de {{ producto.nombre }}" src="{{ producto.imagen.url }}">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <h1><strong>{{producto.nombre}}</strong></h1>
            <h6><strong>Talla:</strong> {{producto.talla}} |
                {% if producto.descuento %}
                    <del>S/. {{producto.precio}}</del>|
                    <strong> S/. {{producto.precio_con_descuento}}</strong>
                {% else %}
                    <strong>Precio:</strong> S/. {{producto.precio}}
                {% endif %}
            </h6>
            {% if producto.stock == 0 %}
                <h5 style="color: red">Stock: Agotado.</h5>
            {% else %}
                <h5>Stock: {{producto.stock}} unidades.</h5>
            {% endif %}
        </div>
        <div class="buttons">
            {% if producto.stock == 0 %}
            <form method="post" action="{% url 'producto_a_carrito' producto.id %}">
                {% csrf_token %}
                <input type="text" class="button is-succes" value="Añadir al carrito" readonly>
            </form>
            {% else %}
            <form method="post" action="{% url 'producto_a_carrito' producto.id %}">
                {% csrf_token %}
                <input type="submit" class="button is-succes" value="Añadir al carrito">
            </form>
            {% endif %}
        </div>
    </div>
    <div class="media-right">
        <a href="/catalogo" class="delete"></a>
    </div>
</article>
{% endblock %}