{% extends "baseAdministracion.html" %}
{% block titulo %} Agregar | Indie Prints{% endblock %}
{% block contenedor %}
<div class="container">
    <form enctype="multipart/form-data" method="post">
        <table>
            {{formaPolo}}
        </table>
        <br>
        <div class="buttons is-justify-content-space-between">
            <a class="button is-danger" href="/verpolos/">Cancelar<a/>
                <button class="button is-success" type="submit">Guardar polo</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}