{% extends "baseAdministracion.html" %}
{% block titulo %} Administracion | Indie Prints{% endblock %}
{% block contenedor %}
<section class="section">
    <div class="container">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="subtitle"><strong>Lista de Polos: {{cantidad_polos}}</strong></h1>
            <a class="button is-primary" href="/agregarpolo/"><strong>Agregar Polo</strong></a>
        </div>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Talla</th>
                <th>Material</th>
                <th>Color</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
            </thead>
            {% for polo in polos %}
            <tbody>
            <tr>
                <td>
                    <a href="#">
                        <img alt="Imagen de {{ polo.nombre }}" src="{{ polo.imagen.url }}">
                    </a>
                </td>
                <td>{{ polo.nombre }}</td>
                <td>{{ polo.talla }}</td>
                <td>{{ polo.material }}</td>
                <td>{{ polo.color }}</td>
                <td>{{ polo.categoria }}</td>
                <td>{{ polo.precio }}</td>
                <td>{{ polo.stock }}</td>
                <td>
                    <a class="button is-small is-fullwidth is-link is-outlined" href="/editarpolo/{{polo.id}}"><strong>Editar</strong></a>
                    <a class="button is-small is-fullwidth is-danger is-outlined"
                       href="/eliminarpolo/{{polo.id}}"><strong>Eliminar</strong></a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <a class="button is-small is-fullwidth is-link is-outlined" href="/administrar"><strong>VOLVER</strong></a>
</section>
{% endblock %}