{% extends "baseAdministracion.html" %}
{% block titulo %} Administracion | Indie Prints{% endblock %}
{% block contenedor %}
<div class="title" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 5px">
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="subtitle" style="text-align: center">POLOS</p>
      <figure class="image is-4by3">
        <a href="/verpolos/">
         <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/polosa.png?raw=true">
        </a>
      </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="subtitle" style="text-align: center">CATEGORIA</p>
      <figure class="image is-4by3">
        <a href="/vercategorias/">
         <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/categoriasa.jpg?raw=true">
        </a>
      </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="subtitle" style="text-align: center">TALLAS</p>
      <figure class="image is-4by3">
        <a href="/vertallas/">
         <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/tallasa.png?raw=true">
        </a>
      </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="subtitle" style="text-align: center">COLORES</p>
      <figure class="image is-4by3">
        <a href="/vercolores/">
         <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/coloresa.png?raw=true">
        </a>
      </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="subtitle" style="text-align: center">MATERIAL</p>
      <figure class="image is-4by3">
        <a href="/vermateriales/">
         <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/materialesa.jpg?raw=true">
        </a>
      </figure>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <p class="subtitle" style="text-align: center">DESCUENTOS</p>
      <figure class="image is-4by3">
        <a href="/verdescuentos/">
         <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/desc.png?raw=true">
        </a>
      </figure>
    </article>
  </div>
</div>
{% endblock %}