{% extends "base.html" %}
{% block titulo %} Inicio | Indie Prints {% endblock %}
{% block contenedor %}
<section class="hero" style="item-align: center">
  <div class="hero-body" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
     <figure class="image" style="height: 100%;">
       <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/pack2.jpg?raw=true" alt="polospack2" style="height: 100%;">
     </figure>
     <div style="text-align: center; margin: 0 20px;">
       <p class="title">
         ¡¡¡BIENVENIDO!!!
       </p>
       <p class="subtitle">
         ¿Eres un apasionado de la música indie rock? ¿Buscas una forma de expresar tu amor por tus bandas
         favoritas de manera única? ¡Has llegado al lugar indicado! En <strong>Indie Prints</strong> , te ofrecemos
         una exclusiva colección de polos con diseños inspirados en el emocionante mundo del indie rock.
       </p>
     </div>
     <figure class="image" style="height: 100%;">
       <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/pack3.jpg?raw=true" alt="polospack3" style="height: 100%;">
     </figure>
  </div>
</section>
{% endblock %}