{% extends "base.html" %}
{% block titulo %} Nosotros | Indie Prints {% endblock %}
{% block contenedor %}
<div class="content" style="display: flex;">
  <figure class="image" style="margin-right: 20px; align-self: center;">
    <img src="https://github.com/HieysonS/IndiePrintsImagenes/blob/main/modelo.png?raw=true" alt="Logo" style="height: auto; max-height: 100%;">
  </figure>
  <div style="text-align: center">
      <h1>¿QUE SOMOS?</h1>
    <p>Nuestra empresa de e-commerce se especializa en la venta de polos de bandas indie y polos personalizados.
       Nos enorgullece ofrecer una amplia selección de prendas de alta calidad que capturan el espíritu creativo
       y único de las bandas indie, así como la posibilidad de personalizar polos según las preferencias individuales
       de nuestros clientes.
    </p>
    <h3>MISION</h3>
    <p>Nuestra misión es proporcionar a nuestros clientes una experiencia de compra excepcional al
       ofrecer una amplia gama de polos de bandas indie y la opción de personalización. Nos esforzamos
       por fomentar la autenticidad, la creatividad y la expresión personal en cada uno de nuestros productos.</p>
    <h3>VISION</h3>
    <p>Nuestra visión es ser la tienda virtual de merchandising más grande de Huancayo, ofreciendo una amplia
       variedad de productos y brindando a nuestros clientes la facilidad de personalizar y crear los polos o
       artículos que más les gusten.</p>
  </div>
</div>
{% endblock %}
